{% extends "hlavni.html.j2" %}

{%block title%}blog{%endblock%}

{% block obsah %}


<h1>Jak se odhalí stáří hornin? </h1>

<p>Stvořil Zemi Bůh nebo se stvořila jaksi sama od sebe? A jak je vlastně stará? To, že je Bible jen pohádka, se podařilo prokázat pomocí zirkonu, nepatrného krystalu, který hraje roli geologických hodin. (délka blogu 5 min.)
<br>
Lidé jsou odjakživa zvědaví. Chtějí vědět, odkud pocházejí, jak vznikl život nebo třeba jak vznikla naše planeta. Není tedy divu, že se odedávna vědci snaží zjistit, jak datovat ten či onen předmět nebo třeba jak zjistit stáří hornin pod našima nohama. Metod, jak určit stáří různých objektů, je hned několik.
<br>
Většinounejsou univerzální, ale poskytují nejlepší výsledky jen pro určité časové období. Některé metody se tedy hodí spíše pro určení nedávných jevů nebo pro datování poměrně nových předmětů - jiné se specializují na opravdu staré horniny nebo artefakty.
</p>
<br>



<h2>Zirkonové geologické hodiny</h2>
<p>Co se týká geologie a určování stáří jednotlivých minerálů - je nejspíš neznámější metodou ta, která využívá vlastností zirkonu.
Zirkon je vlastně malý geologický archiv. Je to jeden z nejstarších minerálů. Na naší planetě se vyskytoval už před 4,4 miliardami let. Není ani příliš vzácný. V zemské kůře se nalézá v podobě krystalů, které jsou většinou menší než 1 mm.
</p>

<<img src="{{ url_for('static', filename='zirkon.gif') }}" alt="">

<p>Uvnitř krystalů zirkonu se nachází dvě různé komponenty, zirkonová a silikátová - co je ale daleko zajímavější, je jedna konkrétní příměs, kterou tvoří stopy relativně vzácného prvku - uranu. Právě on se stará o pomyslný tikot zirkonových hodin.

Uran je radioaktivní prvek. Postupně se rozpadá na lehčí prvky. Rozpad končí tvorbou některých z izotopů olova. Datování hornin se tedy zakládá na jednoduché úvaze. Při krystalizaci zirkonu bylo do jeho krystalické mřížky “uzavřeno” určité množství uranu.

</p>

<<img src="{{ url_for('static', filename='schema.png') }}" alt="">

<p>Jakmile minerál dostal svou konečnou krystalickou podobu, nemohla se koncentrace uranu v jeho nitru dále měnit - uran v něm zůstal uzavřený. Za vzájemný poměr uranu a olova v minerálu pak byl té doby zodpovědný jen rozpad uranu na lehčí prvky. Uranu v minerálu ubývalo, zatímco některých izotopů olova naopak přibývalo. Poté, co se určí koncentrace uranu a olova, dá se vypočítat stáří krystalu

“Zirkonové hodiny” mohou logicky měřit stáří všech hornin, ve kterých se dají nalézt krystaly zirkonu. Nejlépe funguje metoda u opravdu hodně starých vzorků. Ukázalo se, že nejstarší z pozemských hornin jsou staré 4,4 miliardy let. Naopak mladší horniny se touto metodou dají datovat jen nepřesně. Je to logické. Čím mladší je krystal zirkonu, tím méně uranu se v něm rozpadlo a tím hůře se dá tato změna zjistit.
</p>

<h2>K čemu je to všechno dobré?</h2>
<p>Datování hornin pomocí zirkonu pomohlo odhalit nejen nesprávnost teorie, podle které vznikla Země před šesti tisíci let, jak to tvrdí některé náboženské spolky. Podařilo se zjistit skutečné stáří Země - ale také například prehistorické proměny kontinentů.

</p>

<<img src="{{ url_for('static', filename='prakontinent.png') }}" alt="">
<p>
Dnes už není tajemstvím, že jednotlivé zemské desky po povrchu naší planety prakticky “plavou”. Přitom se také srážejí nebo se rozpadají na menší části.
Místo, kde dnes žijeme, kdysi například přiléhalo k území dnešní severní Afriky.
Nejstarší části kontinentální pevniny se mimochodem nacházejí v Kanadě. Evropa je oproti ní velmi mladá. Zatímco se kanadské horniny datují na stáří kolem 4 miliard let, je hornina v Evropě stará jen asi 0,5 miliardy let.

</p>

<h2>Svědectví o minulosti minerálu</h2>
<p>
Uran se ale nehodí jen k určení stáří horniny. V jednotlivých minerálech se s jeho pomocí dá prozkoumat i jeho minulost - konkrétně teplota, kterou musel minerál snášet.

Uran je, jak už jsem zmínila, po krystalizaci minerálu pevně zabudován v jeho krystalické mřížce. Zatímco se uran rozpadá, způsobuje ve struktuře krystalu nepatrné škody a defekty. Tyto škody už dnes umí vědci objevit a prozkoumat je.

</p>


<<img src="{{ url_for('static', filename='chyba.png') }}" alt="">
<p>
Čím víc takových defektů se v krystalu nachází, tím delší dobu musel krystal takové škody “sbírat” - tím starší by měl být.

Vysoká teplota přispívá k regeneraci krystalů. Minerály, které byly delší dobu nahřáty na vyšší teploty, mají “zdravější” a méně narušenou strukturu, ve které se dá nalézt daleko méně škod, způsobených rozpadem radioaktivních jader uranu. Může se dokonce stát, že tyto defekty působením vysoké teploty úplně zmizí - podobně jako když žehlíte kus látky.

Teploty, kterým byl krystal vystaven, se mohou měnit podle toho, v jaké hloubce se nachází. Ve větších hloubkách panuje logicky větší teplo, zatímco blízko povrchu nebo na povrchu samotném je teplota nižší. Škody v krystalických strukturách krystalů jsou u povrchových materiálů zřetelnější.

Vědci mohou následně z poměru izotopů určit skutečné stáří krystalu, zatímco z jeho struktury se dá vyčíst doba, po kterou byl minerál relativně chladný, ponechaný v klidu při normálních teplotách. To znamená, že se dnes dá mimo jiné odhadnout nejen stáří materiálu, ale také doba, po kterou už se minerál nachází v povrchové vrstvě nebo kdy se do ní dostal.
<br>
Autorka: Dana Tenzler
Zdroj: https://danatenzler.blog.idnes.cz/blog.aspx?c=643562

</p>





{% endblock obsah %}