<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}postmoderna{%endblock%}</title>
    
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='styles.css')}}">

</head>

<body>

<h1>Postmodernismus</h1>

<ul>
    <li><a href="{{ url_for('hlava') }}">Hlavní stránka</a></li>
    <li><a href="{{ url_for('filozo') }}">Filozofie</a></li>
    <li><a href="{{ url_for('litera') }}">Literatura</a></li>
    <li><a href="{{ url_for('login') }}">Přihlášeí</a></li>
    <li><a href="{{ url_for('kinema') }}">Kinematografie</a></li>
</ul>



{% block obsah %}

<p>úvod</p>

<p>Postmoderna (také postmodernismus) je myšlenkový směr konce 20. století.

Tento pojem vznikl na základě krátké, 
ale vlivné knihy Jeana-Françoise Lyotarda O postmodernismu (La condition postmoderne, 1979, č. 1993).
 Základním prvkem postmoderny je pluralita názorů a jejich zrovnoprávnění, došlo nejen ke zpochybnění optimistického pohledu na historický vývoj západní civilizace, 
 ale i pohledu na dějiny jako na proces postupného překonávání dřívějších fází či etap. S tím je samozřejmě spojen fakt, že se tímto termínem označují často i 
 protichůdné proudy a tím je ztížen jejich popis.

Důraz na pluralitu a synkretismus je vedle postmoderny typický i pro hnutí New Age, jež vykazuje mnoho postmoderních prvků. Od toho také návazný směr, o
značován jako novomilenismus. Pro postmodernu je také charakteristický všeobecný eklekticismus, vycházejí z něj současné směry jako hypermoderna ne
bo označení ultramoderní. Diskutuje se také o pojmu postpostmoderna.
</p>






{% endblock obsah %} 

</body>
</html>

