{% extends "hlavni.html.j2" %}

{%block title%}RADIOMETRICKÉ STÁŘÍ{%endblock%}

{% block obsah %}
<body>
<h1>RADIOMETRICKÉ STÁŘÍ</h1>
<p>Některé prvky mají formy (tzv. izotopy) s nestabilní atomová jádra, která mají tendenci se změnit, nebo úpadek., Například u-235 je nestabilní izotopuranium,
 které má 92 protonů a 143 neutronů v nucl eus každého atomu. Prostřednictvím řady změn v jádru vydává několik částic, které končís 82 protony a 125 neutrony. 
 Jedná se o stabilní stav a existujído více změn v atomovém jádru. Jádro s tímto počtem protonůse nazývá olovo (chemický symbol Pb). Protony (82) a neutrony (125) total207.
  Tato konkrétní forma (izotop) olova se nazývá Pb-207. U-235 je parentisotop Pb-207, což je dceřiný izotop.,

mnoho hornin obsahuje malé množství nestabilních izotopů a dceřiných izotopů, do kterých se rozpadají. Tam, kde lze přesně měřit množství izotopů rodičů a dcer, 
lze poměr použít k určení, jak stará je hornina, jak je znázorněno v následujících činnostech.
<br>
část 2a aktivita-v každém okamžiku existuje malá šance, že každé jádro U-235 se náhle rozpadne. Tato šance na rozpad je velmi malá, 
ale je vždy přítomna a nikdy se nezmění. Jinými slovy, jádra se “ nenosí „nebo se“unaví“., Pokud se jádro ještě nerozpadlo, vždy existuje stejná, 
malá šance, že se v blízké budoucnosti změní.
<br>
Atomová jádra jsou drženy pohromadě přitažlivost mezi velké jaderné částice (protony a neutrony), které je známé jako „silná jaderná síla“, 
která musí být vyšší než elektrostatické odpuzování mezi protony v jádře.,
 Obecně platí, že s výjimkou jediného protonu, který tvoří jádro nejhojnější izotop vodíku,
  počet neutronů musí alespoň rovnat počtu protonů v atomovém jádře, protože elektrostatické odpuzování zakazuje hustší balení protonů.
   Ale pokud je příliš mnoho neutronů, jádro je potenciálně nestabilní a může být spuštěn rozpad. 
To se děje v každém okamžiku, kdy toho prchavého „slabá jaderná síla“ na někdy-současné elektrostatické odpuzování přesahuje vazebná energie vyžaduje,
 aby držely pohromadě jádro.,
<br>
Velmi pečlivé měření v laboratořích, vyrobený na VELMI VELKÉ množství U-235 atomy,
 ukázaly, že každý z atomů má šanci 50:50, z rozpadající se během asi 704,000,000 let. 
 Jinými slovy, během 704 milionů let se polovina atomů U-235, které existovaly na začátku té doby, 
 rozpadne na Pb-207. Toto je známé jako poločas u-235. Mnoho prvků má některé izotopy, které jsou nestabilní,
  v podstatě proto, že mají příliš mnoho neutronů, aby byly vyváženy počtem protonů v jádru. Každý z těchto nestabilních izotopů má svůj vlastní charakteristický poločas.,
   Některé poločasy jsou dlouhé několik miliard let a jiné jsou krátké jako desetitisícina sekundy. 
 <br>  
 U-235 se nachází ve většině vyvřelých hornin., Pokud není hornina zahřátá na velmi vysokou teplotu, zůstávají ve skále jak u-235, tak její dcera Pb-207. Geolog může porovnat podíl atomů U-235 s PB-207 vyrobeným z něj a určit věk horniny. Další část tohoto cvičení ukazuje, jak se to dělá.  
</p>
</body>
{{ parametr }}

{% endblock obsah %}

